<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occurred!</h1>
    <p>Sorry! <%= errorMessage %></p>

<%- include('includes/end.ejs') %>